@import '/variable.less';

.custom-tab-bar {
  --td-tab-bar-height: @tab-bar-height;

  &-item {
    margin: 0;
    padding: 16rpx 24rpx;
  }
}

.custom-icon {
  width: 48rpx;
  height: 48rpx;
  display: block;
}

.custom-text {
  font-size: 20rpx;
  line-height: 32rpx;
}
